/* ******************************************* 
                DEFAULT CSS
********************************************* */

:root {
    --thm-color: #179BD7;
    --color-black: #1C1C1C;
    --color-body: #7B7E86;
    --color-white: #ffffff;
    --color-border: #E6E6E6;
    --color-bg: #F6F7FA;
    --font-body: 'Kumbh Sans', sans-serif;
    --font-heading: 'Kanit', sans-serif;
}

/***************************************
   Custom Container
  ****************************************/

.container-1220 {
    max-width: 1220px;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}

.container-1480 {
    max-width: 1480px;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}

.mt-120 {
    margin-top: 120px;
}

.mb-120 {
    margin-bottom: 120px;
}

.pt-120 {
    padding-top: 120px;
}

.pb-120 {
    padding-bottom: 120px;
}

.error-image img {
    margin-bottom: 30px;
}

/* Button Style  */

.theme-button,
.tutor-btn-primary,
.tutor-btn {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-white);
    background: var(--thm-color);
    padding: 16px 30px;
    clear: both;
    border-radius: 5px;
    line-height: normal;
    letter-spacing: 0.32px;
    text-transform: capitalize;
    font-family: var(--font-heading);
}

.tutor-btn.tutor-btn-ghost {
    padding: 12px 25px !important;
}

.tutor-btn-primary,
.tutor-btn {
    border-color: transparent;
}

.theme-button i {
    position: relative;
    top: 0px;
    font-size: 100%;
    margin-left: 10px;
}

.tutor-color-secondary {
    color: var(--color-black);
}

.tutor-color-primary {
    color: var(--thm-color);
}

.tutor-qna-single-question .tutor-qa-reply {
    background: transparent;
}

.tutor-btn {
    padding: 12px 25px;
    font-weight: 500;
}

.theme-button:hover,
.tutor-btn-primary:hover,
.tutor-btn:hover {
    color: var(--color-white);
    background-color: var(--color-black);
}

.theme-btns,
input[type="submit"] {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    padding: 16px 30px;
    display: inline-flex;
    align-items: center;
    position: relative;
    transition: all .35s;
    border: none;
    background: var(--thm-color);
    color: var(--color-white);
    transition: .4s;
    border-radius: 5px;
    letter-spacing: 0.32px;
    text-transform: capitalize;
    font-family: var(--font-heading);
    line-height: normal;
}

.theme-btns:hover,
input[type="submit"]:hover {
    background: var(--color-black);
    color: var(--color-white);
}

a.theme-btns i {
    margin-left: 10px;
    font-size: 90%;
    position: relative;
    top: 2px;
}

/* Top To Bottm */

div#back-top {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    position: fixed;
    right: 50px;
    bottom: 30px;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
    z-index: 100;
    color: var(--color-white);
    font-size: 25px;
    opacity: 1;
    visibility: visible;
    background: var(--thm-color);
}

.elementor-element .menu-area.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    background: #e7e9fe;
    padding: 0;
    transition: .4s;
    z-index: 99;
}

/*************************************
******** PRELOADER CSS  **********
*************************************/

.preloader-area {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--color-white);
    z-index: 999999999999999;
}

.theme-loader {
    width: 70px;
    height: 70px;
    margin: auto;
    transform-style: preserve-3d;
    animation: animate 4.59s ease-in-out infinite;
    z-index: 999;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.theme-loader:before,
.theme-loader:after {
    content: "";
    width: 50px;
    height: 50px;
    border: 15px solid var(--thm-color);
    border-radius: 50%;
    position: absolute;
    animation: animate_1 1.73s ease-in-out infinite both reverse;
}

.theme-loader:after {
    border-color: var(--color-black);
    animation-delay: -0.86s;
}

@keyframes animate {
    0%,
    100% {
        transform: rotateX(8.75deg) rotateY(35deg);
    }
    50% {
        transform: rotateX(35deg) rotateY(-35deg) rotate(180deg);
    }
}

@keyframes animate_1 {
    0%,
    100% {
        transform: translateZ(25px) rotateX(14deg);
    }
    33% {
        transform: translateZ(-25px) scale(0.4);
    }
    66% {
        transform: translateZ(-25px);
    }
}

/* 
/*------------------- 2.5. Mobile Menu -------------------*
*/

.edupls-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #24231dc4;
    z-index: 999999;
    width: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all ease 0.8s;
    transition: all ease 0.8s;
    opacity: 0;
    visibility: hidden;
}

.edupls-menu-wrapper .mobile-logo {
    padding-bottom: 30px;
    padding-top: 40px;
    display: block;
    text-align: center;
    background: var(--thm-color);
}

.edupls-menu-wrapper .mobile-logo a {
    color: var(--color-white);
}

.edupls-menu-wrapper .mobile-logo svg {
    max-width: 185px;
}

.edupls-menu-wrapper .edupls-menu-toggle {
    border: none;
    font-size: 22px;
    position: absolute;
    right: -16.5px;
    top: 25px;
    padding: 0;
    line-height: 1;
    width: 33px;
    height: 33px;
    line-height: 35px;
    font-size: 18px;
    z-index: 1;
    color: var(--color-black);
    background-color: var(--color-white);
    border-radius: 50%;
}

.edupls-menu-wrapper .edupls-menu-area {
    width: 100%;
    max-width: 310px;
    background-color: var(--color-white);
    border-right: 3px solid var(--thm-color);
    height: 100%;
    position: relative;
    left: -110%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all ease 1s;
    transition: all ease 1s;
    z-index: 1;
}

.edupls-menu-wrapper.edupls-body-visible {
    opacity: 1;
    visibility: visible;
}

.edupls-menu-wrapper.edupls-body-visible .edupls-menu-area {
    left: 0;
    opacity: 1;
    visibility: visible;
}

.edupls-mobile-menu {
    overflow-y: scroll;
    max-height: calc(100vh - 200px);
    padding-bottom: 40px;
    margin-top: 33px;
    text-align: left;
}

.edupls-mobile-menu ul {
    margin: 0;
    padding: 0 0;
}

.edupls-mobile-menu ul li {
    border-bottom: 1px solid var(--color-border);
    list-style-type: none;
}

.edupls-mobile-menu ul li li:first-child {
    border-top: 1px solid var(--color-border);
}

.edupls-mobile-menu ul li a {
    display: block;
    position: relative;
    padding: 12px 0;
    line-height: 1.4;
    font-size: 16px;
    text-transform: capitalize;
    color: var(--color-black);
    padding-left: 18px;
}

.edupls-mobile-menu ul li.edupls-active>a {
    color: var(--thm-color);
}

.edupls-mobile-menu ul li ul li {
    padding-left: 10px;
}

.edupls-mobile-menu ul li ul li:last-child {
    border-bottom: none;
}

.edupls-mobile-menu ul .edupls-item-has-children>a {
    position: relative;
}

.edupls-mobile-menu ul .edupls-item-has-children>a .edupls-mean-expand {
    position: absolute;
    right: 0;
    top: 50%;
    font-weight: 400;
    font-size: 12px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin-top: -12.5px;
    display: inline-block;
    text-align: center;
    background-color: var(--thm-color);
    color: var(--color-white);
    border-radius: 50%;
}

.edupls-mobile-menu ul .edupls-item-has-children>a .edupls-mean-expand:before {
    content: "\F64D";
    font-family: 'bootstrap-icons';
}

.edupls-mobile-menu ul .edupls-item-has-children>a:after {
    content: "\F659";
    font-family: 'bootstrap-icons';
    width: 22px;
    height: 22px;
    line-height: 22px;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    border-radius: 50px;
    background-color: var(--color-border);
    float: right;
    margin-top: 1px;
}

.edupls-mobile-menu ul .edupls-item-has-children.edupls-active>a .edupls-mean-expand:before {
    content: "\F2EA";
    font-family: 'bootstrap-icons';
}

.edupls-mobile-menu ul .edupls-item-has-children.edupls-active>a:after {
    content: "\F2EA";
    font-family: 'bootstrap-icons';
}

.edupls-mobile-menu>ul {
    padding: 0 40px;
}

.edupls-mobile-menu>ul>li:last-child {
    border-bottom: none;
}

.edupls-menu-toggle {
    width: 50px;
    height: 50px;
    padding: 0;
    font-size: 20px;
    border: none;
    display: inline-block;
    border-radius: 5px;
    background: var(--color-bg);
    color: var(--thm-color);
}

.edupls-menu-toggle:hover {
    background-color: var(--color-black);
    color: var(--color-white);
}

@media (max-width: 991px) {
    .edupls-header .menu-area {
        padding: 10px 0;
    }
}

@media (max-width: 400px) {
    .edupls-menu-wrapper .edupls-menu-area {
        width: 100%;
        max-width: 270px;
    }
    .edupls-mobile-menu>ul {
        padding: 0 20px;
    }
}

/*------------------- 1.0 Header  -------------------*/

.edupls-header {
    position: relative;
    z-index: 41;
    width: 100%;
}

.header-template-one-activate .header-template-one {
    position: absolute;
    width: 100%;
}

.edupls-header .icon-btn {
    color: var(--color-black);
    background-color: transparent;
}

.edupls-header .icon-btn:hover {
    background-color: var(--thm-color);
    border-color: var(--thm-color);
    color: var(--color-white);
}

.sticky-wrapper {
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

.sticky-wrapper.sticky .menu-area {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    background-color: var(--color-white);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.07);
    -webkit-animation: stickyAni 0.4s ease-in-out;
    animation: stickyAni 0.4s ease-in-out;
}

.sticky-wrapper.sticky .bg-transparent {
    background-color: var(--color-black) !important;
}

.site-branding .site-title {
    font-size: 43px;
    text-transform: capitalize;
    font-weight: 600;
    margin: 0;
}

@-webkit-keyframes stickyAni {
    0% {
        -webkit-transform: translate3d(0, -40px, 0) scaleY(0.8);
        transform: translate3d(0, -40px, 0) scaleY(0.8);
        opacity: 0.7;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0) scaleY(1);
        transform: translate3d(0, 0, 0) scaleY(1);
        opacity: 1;
    }
}

@keyframes stickyAni {
    0% {
        -webkit-transform: translate3d(0, -40px, 0) scaleY(0.8);
        transform: translate3d(0, -40px, 0) scaleY(0.8);
        opacity: 0.7;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0) scaleY(1);
        transform: translate3d(0, 0, 0) scaleY(1);
        opacity: 1;
    }
}

.header-absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.main-menu a {
    display: block;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    font-family: var(--font-heading);
    color: var(--color-black);
}

.main-menu a:hover {
    color: var(--thm-color);
}

.main-menu>ul>li {
    margin: 0 12px;
}

.main-menu>ul>li>a {
    padding: 17px 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    font-family: var(--font-heading);
}

.main-menu ul {
    margin: 0;
    padding: 0;
}

.main-menu ul li {
    list-style-type: none;
    display: inline-block;
    position: relative;
}

.main-menu ul li:last-child {
    margin-right: 0 !important;
}

.main-menu ul li:first-child {
    margin-left: 0 !important;
}

.main-menu ul li:hover>ul.sub-menu,
.main-menu ul li:hover ul.mega-menu {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    z-index: 9;
}

.main-menu ul.sub-menu {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    padding: 0;
    left: -23px;
    background: var(--color-white);
    visibility: hidden;
    min-width: 190px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    opacity: 0;
    z-index: -1;
    border: 0;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.main-menu ul.sub-menu a {
    font-size: 16px;
    line-height: 30px;
}

.main-menu ul.sub-menu a:hover {
    color: var(--thm-color);
}

.main-menu ul.sub-menu li {
    display: block;
    margin: 0 0;
    padding: 0px;
    border-bottom: 1px solid var(--color-border);
}

.main-menu ul li.menu-item-has-children>a:after {
    content: "\f078";
    position: relative;
    margin-left: 3px;
    top: 1px;
    display: inline-block;
    transition: 0.4s;
    transform: rotate(0deg);
    font-size: 12px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 800;
}

.main-menu ul ul li.menu-item-has-children>a:after {
    content: "\f078";
    transform: rotate(-89deg);
    top: 0;
    font-size: 70%;
    right: 0;
    float: right;
}

.main-menu ul.sub-menu li:last-child {
    border: none;
}

.main-menu ul.sub-menu li a {
    position: relative;
    padding-left: 0;
    text-transform: capitalize;
    padding: 15px 20px;
}

.main-menu ul.sub-menu li ul.sub-menu {
    left: 100%;
    right: auto;
    top: 0;
    margin: 0 0;
}

.main-menu ul.sub-menu li ul.sub-menu li ul {
    left: 100%;
    right: auto;
}

.menu-expand {
    font-weight: 500;
    text-transform: capitalize;
    color: var(--color-black);
}

.menu-expand:hover {
    color: var(--thm-color);
}

.menu-expand i {
    margin-right: 8px;
}

/* ------------------------------------------- */

/* Mega Menu   ------------------------------ */

/* ----------------------------------------- */

.main-menu li.mega ul ul {
    background: 0 0;
    width: auto
}

.main-menu li.mega li {
    display: inline-block;
    vertical-align: top;
    margin-left: 0
}

.main-menu li.mega li li {
    display: block;
    position: relative;
    left: 4px
}

.main-menu>ul>li.mega {
    position: inherit
}

.main-menu>ul>li.mega>ul {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
    max-width: 1220px;
    left: 0;
    right: 0;
}

.main-menu>ul>li.mega>ul li.has-sub ul {
    display: block;
    position: relative;
    left: auto
}

.main-menu>ul>li.mega>ul>li {
    padding-bottom: 15px;
    box-sizing: border-box
}

.main-menu li.mega li li a {
    padding: 3px 15px;
    border-color: transparent;
    font-size: 14px;
    font-weight: normal;
}

.main-menu li.mega li.has-sub a:after {
    display: none
}

.main-menu ul li.mega ul {
    opacity: 1;
    visibility: visible;
    top: auto;
    box-shadow: none;
}

.main-menu ul li.mega ul li a:hover,
.main-menu ul li.mega ul li.current-menu-item a {
    background: transparent;
    color: var(--theme-color);
}

.main-menu>ul>li.mega>ul li.has-sub ul {
    padding-top: 13px;
    padding-bottom: 1px;
}

.main-menu>ul>li.mega>ul li.has-sub ul {
    padding-top: 13px;
    padding-bottom: 1px;
}

.main-menu>ul>li.mega>ul>li>a {
    padding: 11px 15px;
    border-bottom: 1px solid rgb(223 223 223 / 87%);
}

.main-menu>ul>li.mega.column_2>ul>li {
    width: 49% !important;
}

.main-menu>ul>li.mega.column_3>ul>li {
    width: 33% !important;
}

.main-menu>ul>li.mega.column_4>ul>li {
    width: 24.6% !important;
}

.main-menu>ul>li.mega.column_5>ul>li {
    width: 19.6% !important;
}

.main-menu>ul>li.mega.column_6>ul>li {
    width: 16.3% !important;
}

.main-menu ul li.mega>ul {
    padding: 10px;
    left: 0;
}

.main-menu li.mega>ul.sub-menu ul.sub-menu {
    opacity: 1;
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    position: relative;
    left: 0;
    top: 10px;
}

.main-menu li.mega>ul.sub-menu li {
    border-color: transparent;
    left: 0;
}

.main-menu ul li.mega ul li.menu-item-has-children>a:after {
    display: none;
}

/* 
-------- End Mega Menu -----------
*/

.inquiry-list {
    font-weight: 500;
    text-transform: capitalize;
    color: var(--color-white);
}

.inquiry-list:hover {
    color: var(--thm-color);
}

.inquiry-list i {
    color: var(--thm-color);
    margin-right: 10px;
}

.inquiry-list .count {
    font-size: 12px;
    display: inline-block;
    width: 26px;
    height: 26px;
    line-height: 26px;
    background-color: var(--color-white);
    color: var(--color-black);
    text-align: center;
    border-radius: 99px;
    margin-left: 10px;
}

.header-button {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
    margin-left: 15px;
}

.header-three .header-button {
    margin-right: 3px;
}

.header-logo {
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-logo h2 {
    margin-bottom: 0;
    font-size: 40px;
    text-transform: capitalize;
}

/* Footer Wiget Area Style  */

.footer-widget-area {
    background-color: #0A1310;
    padding-top: 100px;
    padding-bottom: 60px;
}

/* footer Social Area */

.eduplscore-about-widget-social ul li {
    display: inline-block;
}

.footer-widget-area .eduplscore-about-widget-social ul li a {
    height: 45px;
    width: 45px;
    background: #15284C;
    color: #94ADB5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    margin-right: 8px;
    margin-top: 15px;
    transition: .4s;
}

.footer-widget-area .eduplscore-about-widget-social ul li a:hover {
    background: #94ADB5;
    color: var(--color-black);
}

/* Recent Post */

.eduplscore-widget-post-thum li {
    display: flex;
}

.eduplscore-widget-post-thum li img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    margin-right: 20px;
    min-width: 60px;
    border-radius: 10px;
}

.sidebar-widget-area .eduplscore-widget-post-thum li .eduplscore-widget-post-thum-content a {
    margin-bottom: 8px;
    color: var(--color-black);
    font-family: var(--font-heading);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.eduplscore-widget-post-thum .eduplscore-widget-post-thum-content a:hover {
    color: var(--thm-color);
}

.eduplscore-widget-post-thum-content .recent-widget-date {
    color: var(--color-body);
    font-family: var(--font-heading);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.eduplscore-widget-post-thum-content .recent-widget-date i {
    margin-right: 8px;
}

/*  FOOTER COPYRIGHT AREA  */

.footer-copyright-wrapper {
    background-color: #0B1813;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: var(--color-white);
    border-top: 1px solid #373737;
}