.elementor-1331 .elementor-element.elementor-element-d50b926>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-1331 .elementor-element.elementor-element-d50b926 {
    z-index: 1;
}

.elementor-1331 .elementor-element.elementor-element-bf43040>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-1331 .elementor-element.elementor-element-bf43040:not(.elementor-motion-effects-element-type-background),
.elementor-1331 .elementor-element.elementor-element-bf43040>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-1331 .elementor-element.elementor-element-bf43040 {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #E2E6EE;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 60px 80px 60px 80px;
}

.elementor-1331 .elementor-element.elementor-element-bf43040,
.elementor-1331 .elementor-element.elementor-element-bf43040>.elementor-background-overlay {
    border-radius: 10px 10px 10px 10px;
}

.elementor-1331 .elementor-element.elementor-element-bf43040>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1331 .elementor-element.elementor-element-414d0ef .elementor-heading-title {
    color: #1C1C1C;
    font-family: "Kanit", Sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
}

.elementor-1331 .elementor-element.elementor-element-fb88073:not(.elementor-motion-effects-element-type-background),
.elementor-1331 .elementor-element.elementor-element-fb88073>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://gtecannanagarchennai.in/wp-content/uploads/2024/03/footer-one-img-e1709970550638.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-1331 .elementor-element.elementor-element-fb88073 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -96px;
    margin-bottom: 0px;
    padding: 0px 10px 0px 10px;
}

.elementor-1331 .elementor-element.elementor-element-fb88073>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1331 .elementor-element.elementor-element-98b47c7 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 190px 0px 85px 0px;
}

.elementor-1331 .elementor-element.elementor-element-7a7e4d9 .edupls-company-about-wrapper {
    justify-content: center;
    text-align: center;
}

.elementor-1331 .elementor-element.elementor-element-bffece8>.elementor-element-populated {
    margin: 0px 0px 0px 90px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 90px;
}

.elementor-1331 .elementor-element.elementor-element-3426e9b .edupls-page-links ul li {
    display: block;
}

.elementor-1331 .elementor-element.elementor-element-3426e9b .edupls-page-links ul li .icon {
    float: left;
}

.elementor-1331 .elementor-element.elementor-element-3426e9b .edupls-page-links.footer-addons {
    text-align: left;
}

.elementor-1331 .elementor-element.elementor-element-3426e9b .edupls-page-link-wrapper {
    border-radius: 0px 0px 0px 0px;
}

.elementor-1331 .elementor-element.elementor-element-3426e9b .edupls-page-links ul li a .icon {
    color: #FFFFFF;
}

.elementor-1331 .elementor-element.elementor-element-3426e9b .edupls-page-links ul li a:hover .icon {
    color: #FFFFFF;
}

.elementor-1331 .elementor-element.elementor-element-3426e9b {
    width: var( --container-widget-width, 100%);
    max-width: 100%;
    --container-widget-width: 100%;
    --container-widget-flex-grow: 0;
}

.elementor-1331 .elementor-element.elementor-element-3426e9b.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-1331 .elementor-element.elementor-element-91b20bb>.elementor-element-populated {
    margin: 0px 0px 0px 45px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 45px;
}

.elementor-1331 .elementor-element.elementor-element-0a254d5 .edupls-page-links ul li {
    display: block;
}

.elementor-1331 .elementor-element.elementor-element-0a254d5 .edupls-page-links ul li .icon {
    float: left;
}

.elementor-1331 .elementor-element.elementor-element-0a254d5 {
    width: var( --container-widget-width, 100%);
    max-width: 100%;
    --container-widget-width: 100%;
    --container-widget-flex-grow: 0;
}

.elementor-1331 .elementor-element.elementor-element-0a254d5.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-1331 .elementor-element.elementor-element-22a2da5 .footer-addons .widget-title {
    text-align: left;
}

.elementor-1331 .elementor-element.elementor-element-22a2da5 .footer-addons .contact-info-item {
    justify-content: flex-start;
    flex-direction: row;
}

.elementor-1331 .elementor-element.elementor-element-22a2da5 {
    width: var( --container-widget-width, 323.058%);
    max-width: 323.058%;
    --container-widget-width: 323.058%;
    --container-widget-flex-grow: 0;
}

.elementor-1331 .elementor-element.elementor-element-22a2da5.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-1331 .elementor-element.elementor-element-e089cba>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-1331 .elementor-element.elementor-element-e089cba:not(.elementor-motion-effects-element-type-background),
.elementor-1331 .elementor-element.elementor-element-e089cba>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #2C465D;
}

.elementor-1331 .elementor-element.elementor-element-e089cba {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 15px 10px 15px 10px;
}

.elementor-1331 .elementor-element.elementor-element-e089cba>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1331 .elementor-element.elementor-element-dbff4f2 .edupls-copyright-box {
    color: #FFFFFF;
    text-align: left;
}

.elementor-1331 .elementor-element.elementor-element-dbff4f2 .edupls-copyright-box a:hover {
    color: #179BD7;
}

.elementor-1331 .elementor-element.elementor-element-ac2c6d9 .edupls-page-links ul li {
    display: inline-block;
}

.elementor-1331 .elementor-element.elementor-element-ac2c6d9 .edupls-page-links ul li .icon {
    float: left;
}

.elementor-1331 .elementor-element.elementor-element-ac2c6d9 .edupls-page-links.footer-addons {
    text-align: right;
}

.elementor-1331 .elementor-element.elementor-element-ac2c6d9 .edupls-page-link-wrapper {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-1331 .elementor-element.elementor-element-ac2c6d9 .edupls-page-links ul li a {
    margin: 0px 0px 0px 30px;
    padding: 0px 0px 0px 0px;
}

@media(max-width:1024px) {
    .elementor-1331 .elementor-element.elementor-element-98b47c7 {
        padding: 190px 0px 45px 0px;
    }
    .elementor-1331 .elementor-element.elementor-element-99a4546>.elementor-element-populated {
        margin: 0px 80px 30px 0px;
        --e-column-margin-right: 80px;
        --e-column-margin-left: 0px;
    }
    .elementor-1331 .elementor-element.elementor-element-bffece8>.elementor-element-populated {
        margin: 0px 0px 30px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-1331 .elementor-element.elementor-element-91b20bb>.elementor-element-populated {
        margin: 0px 0px 30px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-1331 .elementor-element.elementor-element-4c1bdce>.elementor-element-populated {
        margin: 0px 0px 30px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
}

@media(max-width:767px) {
    .elementor-1331 .elementor-element.elementor-element-bf43040 {
        padding: 40px 30px 40px 30px;
    }
    .elementor-1331 .elementor-element.elementor-element-b6fe4bf>.elementor-element-populated {
        margin: 0px 0px 30px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-1331 .elementor-element.elementor-element-99a4546>.elementor-element-populated {
        margin: 0px 0px 30px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-1331 .elementor-element.elementor-element-dbff4f2 .edupls-copyright-box {
        text-align: center;
    }
    .elementor-1331 .elementor-element.elementor-element-ac2c6d9 .edupls-page-links.footer-addons {
        text-align: center;
    }
    .elementor-1331 .elementor-element.elementor-element-ac2c6d9 .edupls-page-links ul li a {
        margin: 0px 15px 0px 15px;
    }
}

@media(min-width:768px) {
    .elementor-1331 .elementor-element.elementor-element-99a4546 {
        width: 23.088%;
    }
    .elementor-1331 .elementor-element.elementor-element-bffece8 {
        width: 17.946%;
    }
    .elementor-1331 .elementor-element.elementor-element-91b20bb {
        width: 22.714%;
    }
    .elementor-1331 .elementor-element.elementor-element-4c1bdce {
        width: 36.252%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-1331 .elementor-element.elementor-element-99a4546 {
        width: 50%;
    }
    .elementor-1331 .elementor-element.elementor-element-bffece8 {
        width: 50%;
    }
    .elementor-1331 .elementor-element.elementor-element-91b20bb {
        width: 50%;
    }
    .elementor-1331 .elementor-element.elementor-element-4c1bdce {
        width: 50%;
    }
}